# Temel String İşlemleri

## Oluşturma Biçimlendirme

In [1]:
isim = "mvk"

In [2]:
3 * isim

'mvkmvkmvk'

In [3]:
"mvk" + "ali"

'mvkali'

In [4]:
"K" + isim[1:]

'Kvk'

In [5]:
isimler =  ["ali","veli","ayse"]

In [6]:
for i in isimler:
    print("İsim:",i, sep = "")

İsim:ali
İsim:veli
İsim:ayse

In [7]:
for i in isimler:
    print("_", i[0:], sep = "")

_ali
_veli
_ayse

In [8]:
print(*enumerate(isimler))

(0, 'ali') (1, 'veli') (2, 'ayse')

In [9]:
for i in enumerate(isimler):
    print(i)

(0, 'ali')
(1, 'veli')
(2, 'ayse')

In [10]:
for i in enumerate("isimler"):
    print(i)

(0, 'i')
(1, 's')
(2, 'i')
(3, 'm')
(4, 'l')
(5, 'e')
(6, 'r')

In [11]:
for i in enumerate(isimler,4):
    print(i)

(4, 'ali')
(5, 'veli')
(6, 'ayse')

## Dizi İçi Tip Sorgulamaları

In [12]:
"mvk".isalpha()

True

In [13]:
"mvk30".isalpha()

False

In [14]:
"123".isnumeric()

True

In [15]:
"123".isdigit()

True

In [16]:
"mvk30".isalnum()

True

## Elemanlarına ve Eleman Indexlerine Erişmek

In [ ]:
isim = "mustafavahitkeskin"

In [ ]:
isim

In [ ]:
isim[0:2]

In [ ]:
isim.index("n")

In [ ]:
isim.index("a")

In [ ]:
isim.index("a",5)

## Başlangıç ve Bitiş Karakterlerini Sorgulamak: startswith() & endswith()

In [17]:
isim = "Mustafa Vahit Keskin"

In [18]:
isim.startswith("a")
isim.startswith("m")
isim.startswith("M")
isim.endswith("n")

True

In [ ]:
#count

In [ ]:
isim.count("a")

In [ ]:
#sorted

In [ ]:
sorted("defter")

In [ ]:
print(*sorted("defter"), sep = "")

## Karakterleri Bölmek

In [ ]:
isim = "Mustafa Vahit Keskin"

In [ ]:
isim.split()

In [ ]:
isim.split(",")

In [ ]:
isim = "Mustafa_Vahit_Keskin"

In [ ]:
isim.split("_")

## Büyük Küçük Harf İşlemleri

In [ ]:
isim = "Mustafa Vahit Keskin"

In [ ]:
isim.upper()

In [ ]:
isim.lower()

In [ ]:
isim.upper().lower()

In [ ]:
isim_b = isim.upper()

In [ ]:
isim_b.islower()

In [ ]:
isim_b.isupper()

## capitalize() & title() & swapcase()

In [19]:
isim = "mustafa vahit keskin"

In [20]:
isim.capitalize()

'Mustafa vahit keskin'

In [21]:
isim.title()

'Mustafa Vahit Keskin'

In [22]:
isim.swapcase()

'MUSTAFA VAHIT KESKIN'

In [23]:
isim = "MUSTAFA vahit KESKIN"

In [24]:
isim.swapcase()

'mustafa VAHIT keskin'

## İstenmeyen Karakterleri Kırpmak: strip(), lstrip(), rsting()

In [25]:
isim = " hello "

In [26]:
isim.strip()

'hello'

In [27]:
isim = "*hello*"

In [28]:
isim.strip("*")

'hello'

In [29]:
isim = "lhellol"

In [30]:
isim.strip("l")

'hello'

In [31]:
isim = "*hello*"

In [32]:
isim.rstrip("*")

'*hello'

In [33]:
isim.lstrip("*")

'hello*'

## join: bölünmüş ya da zaten bölük olan ifadelerin birleştirilmesi

In [34]:
isim = "Mustafa Vahit Keskin"

In [35]:
ayrik = isim.split()

In [36]:
ayrik

['Mustafa', 'Vahit', 'Keskin']

In [37]:
joiner = " "

In [38]:
joiner.join(ayrik)

'Mustafa Vahit Keskin'

In [39]:
joiner = "*****"

In [40]:
joiner.join(ayrik)

'Mustafa*****Vahit*****Keskin'

## Eleman Değiştirme: replace(), str.maketrans(), translate()

In [41]:
isim

'Mustafa Vahit Keskin'

In [42]:
isim.replace("V","c")

'Mustafa cahit Keskin'

In [43]:
isim.replace("ca","Va")

'Mustafa Vahit Keskin'

In [44]:
ifade = "Bu ifade İçerisinde bağzı TÜrkçe karakterler vardır"

In [45]:
duzeltilecek_harfler = "çÇğĞıİöÖşŞüÜ"
duzeltilmis_harfler = "cCgGiIoOsSuU"

In [46]:
alfabe_duzeltme = str.maketrans(duzeltilecek_harfler, duzeltilmis_harfler)

In [47]:
ifade.translate(alfabe_duzeltme)

'Bu ifade Icerisinde bagzi TUrkce karakterler vardir'

## contains

In [48]:
import pandas as pd
isimler = ["ayse","Ayşe","ali","aali","Ali","veli","mehmet","berkcan"]
v = pd.Series(isimler)

In [49]:
v

0       ayse
1       Ayşe
2        ali
3       aali
4        Ali
5       veli
6     mehmet
7    berkcan
dtype: object

In [50]:
v.str.contains("al")

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [51]:
v[v.str.contains("al")]

2     ali
3    aali
dtype: object

In [52]:
v.str.contains("al").sum()

2

In [53]:
v.str.contains("[aA]li").sum()

3

# Metin Madenciliği ve Doğal Dil İşleme Giriş

## Metin Ön İşleme

In [54]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

### string'i df/array/seriye çevirmek

In [55]:
metin.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [56]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [57]:
v_metin = metin.split("\n")

In [58]:
v = pd.Series(v_metin)

In [59]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [60]:
metin_vektoru = v[1:len(v)]

In [61]:
metin_vektoru

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [62]:
mdf = pd.DataFrame(metin_vektoru, columns = ["hikayeler"])

In [63]:
mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

## Büyük-Küçük harf

In [64]:
d_mdf = mdf.copy()

In [65]:
d_mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [66]:
list1 = [1,2,3]

In [67]:
str1 = "".join(str(i) for i in list1)

In [68]:
str1

'123'

In [69]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower() for x in x.split()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [70]:
d_mdf = d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [71]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

## Noktalama İşaretlerinin Silinmesi

In [72]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [73]:
type(d_mdf)

pandas.core.series.Series

In [ ]:
#d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [74]:
d_mdf = d_mdf.str.replace("[^\w\s]","")

In [75]:
d_mdf

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

## Sayıların Silinmesi

In [76]:
d_mdf = d_mdf.str.replace("\d","")

In [77]:
d_mdf

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

## Stopwords : durma kelimeleri, sık kullanılan kelimeler, bunlardan kurtulmak istiyoruz

In [78]:
d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [79]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\pcnet\anaconda3\lib\site-packages (3.5)
Requirement already satisfied: click in c:\users\pcnet\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in c:\users\pcnet\anaconda3\lib\site-packages (from nltk) (0.17.0)
Requirement already satisfied: tqdm in c:\users\pcnet\anaconda3\lib\site-packages (from nltk) (4.50.2)
Requirement already satisfied: regex in c:\users\pcnet\anaconda3\lib\site-packages (from nltk) (2020.10.15)

In [80]:
import nltk

In [81]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\PCnet\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [82]:
from nltk.corpus import stopwords

In [83]:
sw = stopwords.words("english")

In [84]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [85]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

In [86]:
d_mdf = d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [87]:
d_mdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

## Az Geçen Kelimelerin Silinmesi

In [88]:
type(d_mdf)

pandas.core.series.Series

In [89]:
d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [90]:
pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()

adventure    6
lip          1
valley       1
five         1
orange       1
noble        1
thumb        1
band         1
identity     1
beeches      1
blue         1
pips         1
scandal      1
league       1
coronet      1
redheaded    1
bohemia      1
bachelor     1
copper       1
mystery      1
boscombe     1
engineers    1
carbuncle    1
twisted      1
beryl        1
man          1
speckled     1
case         1
dtype: int64

In [91]:
sil = pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()[-3:]

In [92]:
sil

man         1
speckled    1
case        1
dtype: int64

In [93]:
d_mdf["hikayeler"].apply(lambda x: " ".join(i for i in x.split() if i not in sil))

1               scandal bohemia
2              redheaded league
3                      identity
4       boscombe valley mystery
5              five orange pips
6                   twisted lip
7      adventure blue carbuncle
8                adventure band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

## Tokenization : cümleyi kelimelere ayırmak, yeni bir vektör, liste oluşturmak

In [94]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\PCnet\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [95]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1; python_version >= "3" in c:\users\pcnet\anaconda3\lib\site-packages (from textblob) (3.5)
Requirement already satisfied: regex in c:\users\pcnet\anaconda3\lib\site-packages (from nltk>=3.1; python_version >= "3"->textblob) (2020.10.15)
Requirement already satisfied: tqdm in c:\users\pcnet\anaconda3\lib\site-packages (from nltk>=3.1; python_version >= "3"->textblob) (4.50.2)
Requirement already satisfied: joblib in c:\users\pcnet\anaconda3\lib\site-packages (from nltk>=3.1; python_version >= "3"->textblob) (0.17.0)
Requirement already satisfied: click in c:\users\pcnet\anaconda3\lib\site-packages (from nltk>=3.1; python_version >= "3"->textblob) (7.1.2)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [96]:
import textblob

In [97]:
from textblob import TextBlob

In [98]:
d_mdf["hikayeler"][1]

'scandal bohemia'

In [99]:
TextBlob(d_mdf["hikayeler"][1]).words

WordList(['scandal', 'bohemia'])

In [100]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).words)

1                [scandal, bohemia]
2               [redheaded, league]
3                  [case, identity]
4       [boscombe, valley, mystery]
5              [five, orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12     [adventure, copper, beeches]
Name: hikayeler, dtype: object

## Stemming : bir kelimeyi köklerine ayırma, köküne indirgeme , -s,-ed takıları uçar, pek tutarlı çalışmıyormuş

In [101]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [102]:
d_mdf["hikayeler"].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

1            scandal bohemia
2              redhead leagu
3                 case ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: hikayeler, dtype: object

## Lemmatization : metin indirgeme, stemming e göre daha çok tercih edilir

In [103]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\PCnet\AppData\Roaming\nltk_data...

True

In [104]:
d_mdf["hikayeler"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))  # adventure korunmus

1              scandal bohemia
2             redheaded league
3                case identity
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: hikayeler, dtype: object

In [105]:
mdf["hikayeler"][0:5]

1        A Scandal in Bohemia! 01
2         The Red-headed League,2
3          A Case, of Identity 33
4    The Boscombe Valley Mystery4
5           The Five Orange Pips1
Name: hikayeler, dtype: object

In [106]:
d_mdf["hikayeler"][0:5]

1            scandal bohemia
2           redheaded league
3              case identity
4    boscombe valley mystery
5           five orange pips
Name: hikayeler, dtype: object

# NLP Uygulamaları

## N-Gram

In [107]:
a = """Bu örneği anlaşılabilmesi için daha uzun bir metin üzerinden göstereceğim.
N-gram'lar birlikte kullanılan kelimelerin kombinasyolarını gösterir"""

In [108]:
TextBlob(a).ngrams(3)

[WordList(['Bu', 'örneği', 'anlaşılabilmesi']),
 WordList(['örneği', 'anlaşılabilmesi', 'için']),
 WordList(['anlaşılabilmesi', 'için', 'daha']),
 WordList(['için', 'daha', 'uzun']),
 WordList(['daha', 'uzun', 'bir']),
 WordList(['uzun', 'bir', 'metin']),
 WordList(['bir', 'metin', 'üzerinden']),
 WordList(['metin', 'üzerinden', 'göstereceğim']),
 WordList(['üzerinden', 'göstereceğim', "N-gram'lar"]),
 WordList(['göstereceğim', "N-gram'lar", 'birlikte']),
 WordList(["N-gram'lar", 'birlikte', 'kullanılan']),
 WordList(['birlikte', 'kullanılan', 'kelimelerin']),
 WordList(['kullanılan', 'kelimelerin', 'kombinasyolarını']),
 WordList(['kelimelerin', 'kombinasyolarını', 'gösterir'])]

## Part of speech tagging (POS) : 
metinde kullanılan kelimelerin sıfat zarf isim olma durumlarını ele almak için kullanılıyor

In [109]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\PCnet\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [112]:
d_mdf["hikayeler"][2]

'redheaded league'

In [110]:
TextBlob(d_mdf["hikayeler"][2]).tags

[('redheaded', 'VBN'), ('league', 'NN')]

In [111]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

1                        [(scandal, NN), (bohemia, NN)]
2                      [(redheaded, VBN), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6                [(man, NN), (twisted, VBD), (lip, NN)]
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineers, NNS), (thumb, VBP)]
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: hikayeler, dtype: object

## Chunking (shallow parsing) : 
yukarda çıkardığımız sıfat zarf durumlarını bir diagram halinde göstermek için kullanılır

In [113]:
pos = d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

In [114]:
pos

1                        [(scandal, NN), (bohemia, NN)]
2                      [(redheaded, VBN), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6                [(man, NN), (twisted, VBD), (lip, NN)]
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineers, NNS), (thumb, VBP)]
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: hikayeler, dtype: object

In [115]:
cumle = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task"

In [116]:
pos = TextBlob(cumle).tags

In [117]:
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientists', 'NNS'),
 ('who', 'WP'),
 ('eager', 'VBP'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [118]:
reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)

In [119]:
sonuclar = rp.parse(pos)

In [120]:
sonuclar

The Ghostscript executable isn't found.
See http://web.mit.edu/ghostscript/www/Install.htm
If you're using a Mac, you can try installing
https://docs.brew.sh/Installation then `brew install ghostscript`

LookupError:

Tree('S', [('R', 'NNP'), ('and', 'CC'), ('Python', 'NNP'), ('are', 'VBP'), ('useful', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), ('tools', 'NNS'), ('for', 'IN'), ('the', 'DT'), ('new', 'JJ'), ('or', 'CC'), ('old', 'JJ'), ('data', 'NNS'), ('scientists', 'NNS'), ('who', 'WP'), ('eager', 'VBP'), ('to', 'TO'), ('do', 'VB'), ('efficent', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), Tree('NP', [('task', 'NN')])])

In [121]:
print(sonuclar)

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  scientists/NNS
  who/WP
  eager/VBP
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN)
  (NP task/NN))

In [122]:
sonuclar.draw()

## Named Entity Recognition

In [123]:
from nltk import word_tokenize, pos_tag, ne_chunk
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\PCnet\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker.zip.
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\PCnet\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\words.zip.

True

In [124]:
cumle = "Hadley is creative people who work for R Studio AND he attented conference at Newyork last year"
print(ne_chunk(pos_tag(word_tokenize(cumle))))

(S
  (GPE Hadley/NNP)
  is/VBZ
  creative/JJ
  people/NNS
  who/WP
  work/VBP
  for/IN
  (ORGANIZATION R/NNP Studio/NNP)
  AND/CC
  he/PRP
  attented/VBD
  conference/NN
  at/IN
  (ORGANIZATION Newyork/NNP)
  last/JJ
  year/NN)

# Matematiksel İşlemler ve Basit Özellik Çıkarımı

## Harf/Karakter Sayısı

In [125]:
o_df = d_mdf.copy()

In [126]:
o_df["hikayeler"]

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

In [127]:
o_df["hikayeler"].str.len()

1     15
2     16
3     13
4     23
5     16
6     15
7     24
8     23
9     25
10    24
11    23
12    24
Name: hikayeler, dtype: int64

In [128]:
o_df["harf_sayisi"] = o_df["hikayeler"].str.len()

In [129]:
o_df

                    hikayeler  harf_sayisi
1             scandal bohemia           15
2            redheaded league           16
3               case identity           13
4     boscombe valley mystery           23
5            five orange pips           16
6             man twisted lip           15
7    adventure blue carbuncle           24
8     adventure speckled band           23
9   adventure engineers thumb           25
10   adventure noble bachelor           24
11    adventure beryl coronet           23
12   adventure copper beeches           24

## Kelime Sayısı

In [130]:
a = "scandal in a bohemia"

In [131]:
a.split()

['scandal', 'in', 'a', 'bohemia']

In [132]:
len(a.split())

4

In [133]:
o_df.iloc[0:1,0:1]

         hikayeler
1  scandal bohemia

In [134]:
o_df["kelime_sayisi"] = o_df["hikayeler"].apply(lambda x:len(str(x).split(" ")))

In [135]:
o_df

                    hikayeler  harf_sayisi  kelime_sayisi
1             scandal bohemia           15              2
2            redheaded league           16              2
3               case identity           13              2
4     boscombe valley mystery           23              3
5            five orange pips           16              3
6             man twisted lip           15              3
7    adventure blue carbuncle           24              3
8     adventure speckled band           23              3
9   adventure engineers thumb           25              3
10   adventure noble bachelor           24              3
11    adventure beryl coronet           23              3
12   adventure copper beeches           24              3

## Özel Karakterleri Yakalamak & Saydırmak

In [136]:
o_df["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("adventure")]))

1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
Name: hikayeler, dtype: int64

In [137]:
o_df["ozel_karakter_sayisi"] = o_df["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("adventure")]))

In [138]:
o_df

,hikayeler,harf_sayisi,kelime_sayisi,ozel_karakter_sayisi
1,scandal bohemia,15,2,0
2,redheaded league,16,2,0
3,case identity,13,2,0
4,boscombe valley mystery,23,3,0
5,five orange pips,16,3,0
6,man twisted lip,15,3,0
7,adventure blue carbuncle,24,3,1
8,adventure speckled band,23,3,1
9,adventure engineers thumb,25,3,1
10,adventure noble bachelor,24,3,1
11,adventure beryl coronet,23,3,1
12,adventure copper beeches,24,3,1

## Sayıları Yakalamak & Saydırmak

In [139]:
mdf["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.isdigit()]))

1     1
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: hikayeler, dtype: int64

In [140]:
o_df["sayi_sayisi"] = mdf["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.isdigit()]))

In [141]:
o_df

,hikayeler,harf_sayisi,kelime_sayisi,ozel_karakter_sayisi,sayi_sayisi
1,scandal bohemia,15,2,0,1
2,redheaded league,16,2,0,0
3,case identity,13,2,0,1
4,boscombe valley mystery,23,3,0,0
5,five orange pips,16,3,0,0
6,man twisted lip,15,3,0,0
7,adventure blue carbuncle,24,3,1,0
8,adventure speckled band,23,3,1,0
9,adventure engineers thumb,25,3,1,0
10,adventure noble bachelor,24,3,1,0
11,adventure beryl coronet,23,3,1,0
12,adventure copper beeches,24,3,1,0

# Metin Görselleştirme

In [142]:
import pandas as pd 
data = pd.read_csv("train.tsv",sep = "\t")

In [145]:
data.tail()

        PhraseId  SentenceId                     Phrase  Sentiment
156055    156056        8544                  Hearst 's          2
156056    156057        8544  forced avuncular chortles          1
156057    156058        8544         avuncular chortles          3
156058    156059        8544                  avuncular          2
156059    156060        8544                   chortles          2

In [144]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [146]:
#buyuk-kucuk donusumu
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [147]:
#noktalama işaretleri
data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')

In [148]:
#sayılar
data['Phrase'] = data['Phrase'].str.replace('\d','')

In [149]:
#stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\PCnet\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [150]:
#seyreklerin silinmesi
sil = pd.Series(' '.join(data['Phrase']).split()).value_counts()[-1000:]
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))

In [151]:
#lemmi
from textblob import Word
#nltk.download('wordnet')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [152]:
data['Phrase'].head(10)

0    series escapade demonstrating adage good goose...
1       series escapade demonstrating adage good goose
2                                               series
3
4                                               series
5              escapade demonstrating adage good goose
6
7              escapade demonstrating adage good goose
8                                             escapade
9                       demonstrating adage good goose
Name: Phrase, dtype: object

## Terim Frekansı

In [154]:
tf1 = (data["Phrase"]).apply(lambda x: 
                             pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()

MemoryError: Unable to allocate 16.1 GiB for an array with shape (156060, 13838) and data type float64

In [ ]:
tf1.columns = ["words","tf"]

In [ ]:
tf1.head()  # kelimeler ve frekanslari

In [ ]:
tf1.info()

In [ ]:
tf1.nunique()

## barplot

In [ ]:
a = tf1[tf1["tf"] > 1000]

In [ ]:
a.plot.bar(x = "words", y = "tf");

## Wordcloud

In [ ]:
!pip install wordcloud

In [ ]:
import numpy as np
import pandas as pd
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import matplotlib.pyplot as plt

In [ ]:
text = data["Phrase"][0]

In [ ]:
wordcloud = WordCloud().generate(text)

In [ ]:
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
wordcloud = WordCloud(max_font_size = 50,
                     max_words = 100, 
                     background_color = "white").generate(text)
plt.figure()
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
wordcloud.to_file("kelime_bulutuu.png");

In [ ]:
#tum metin

In [ ]:
text = " ".join(i for i in data.Phrase)

In [ ]:
text

In [ ]:
wordcloud = WordCloud(max_font_size = 50, 
                     background_color = "white").generate(text)
plt.figure(figsize = [10,10])
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
?wordcloud

## Şablonlara Göre Word Cloud

In [ ]:
vbo_mask = np.array(Image.open("tr.png"))

In [ ]:
vbo_mask

In [ ]:
wc = WordCloud(background_color = "white",
                     max_words = 1000, 
                     mask = vbo_mask, 
                     contour_width = 3,
                     contour_color = "firebrick")

wc.generate(text)

wc.to_file("vbo.png")

plt.figure(figsize = [10,10])
plt.imshow(wc, interpolation = "bilinear")
plt.axis("off")
plt.show()

# Sentiment Analizi ve Sınıflandırma Modelleri

In [159]:
from textblob import TextBlob
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import decomposition, ensemble

#!pip install xgboost
!pip install --ignore-installed --upgrade tensorflow
import pandas, xgboost, numpy, textblob, string
from keras.preprocessing import text, sequence
from keras import layers, models, optimizers


from warnings import filterwarnings
filterwarnings('ignore')

Collecting tensorflow
  Downloading tensorflow-2.11.0-cp38-cp38-win_amd64.whl (1.9 kB)
Collecting tensorflow-intel==2.11.0; platform_system == "Windows"
  Downloading tensorflow_intel-2.11.0-cp38-cp38-win_amd64.whl (266.3 MB)
Collecting numpy>=1.20
  Downloading numpy-1.24.2-cp38-cp38-win_amd64.whl (14.9 MB)
Collecting google-pasta>=0.1.1
  Using cached google_pasta-0.2.0-py3-none-any.whl (57 kB)
Collecting protobuf<3.20,>=3.9.2
  Downloading protobuf-3.19.6-cp38-cp38-win_amd64.whl (896 kB)
Collecting libclang>=13.0.0
  Downloading libclang-15.0.6.1-py2.py3-none-win_amd64.whl (23.2 MB)
Collecting wrapt>=1.11.0
  Downloading wrapt-1.15.0-cp38-cp38-win_amd64.whl (36 kB)
Collecting setuptools
  Downloading setuptools-67.4.0-py3-none-any.whl (1.1 MB)
Collecting opt-einsum>=2.3.2
  Using cached opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Collecting flatbuffers>=2.0
  Downloading flatbuffers-23.3.3-py2.py3-none-any.whl (26 kB)
Collecting tensorflow-estimator<2.12,>=2.11.0
  Downloading tensorflow_estimator-2.11.0-py2.py3-none-any.whl (439 kB)
Collecting typing-extensions>=3.6.6
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Collecting packaging
  Downloading packaging-23.0-py3-none-any.whl (42 kB)
Collecting absl-py>=1.0.0
  Downloading absl_py-1.4.0-py3-none-any.whl (126 kB)
Collecting h5py>=2.9.0
  Downloading h5py-3.8.0-cp38-cp38-win_amd64.whl (2.7 MB)
Collecting termcolor>=1.1.0
  Downloading termcolor-2.2.0-py3-none-any.whl (6.6 kB)
Collecting astunparse>=1.6.0
  Using cached astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting keras<2.12,>=2.11.0
  Using cached keras-2.11.0-py2.py3-none-any.whl (1.7 MB)
Collecting tensorboard<2.12,>=2.11
  Downloading tensorboard-2.11.2-py3-none-any.whl (6.0 MB)
Collecting six>=1.12.0
  Downloading six-1.16.0-py2.py3-none-any.whl (11 kB)
Collecting tensorflow-io-gcs-filesystem>=0.23.1; platform_machine != "arm64" or platform_system != "Darwin"
  Downloading tensorflow_io_gcs_filesystem-0.31.0-cp38-cp38-win_amd64.whl (1.5 MB)
Collecting gast<=0.4.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Collecting grpcio<2.0,>=1.24.3
  Downloading grpcio-1.51.3-cp38-cp38-win_amd64.whl (3.7 MB)
Collecting wheel<1.0,>=0.23.0
  Downloading wheel-0.38.4-py3-none-any.whl (36 kB)
Collecting markdown>=2.6.8
  Downloading Markdown-3.4.1-py3-none-any.whl (93 kB)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Using cached google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Using cached tensorboard_data_server-0.6.1-py3-none-any.whl (2.4 kB)
Collecting google-auth<3,>=1.6.3
  Downloading google_auth-2.16.2-py2.py3-none-any.whl (177 kB)
Collecting tensorboard-plugin-wit>=1.6.0
  Using cached tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
Collecting requests<3,>=2.21.0
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
Collecting werkzeug>=1.0.1
  Downloading Werkzeug-2.2.3-py3-none-any.whl (233 kB)
Collecting importlib-metadata>=4.4; python_version < "3.10"
  Downloading importlib_metadata-6.0.0-py3-none-any.whl (21 kB)
Collecting requests-oauthlib>=0.7.0
  Using cached requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Collecting rsa<5,>=3.1.4; python_version >= "3.6"
  Downloading rsa-4.9-py3-none-any.whl (34 kB)
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.3.0-py3-none-any.whl (9.3 kB)
Collecting pyasn1-modules>=0.2.1
  Using cached pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.14-py2.py3-none-any.whl (140 kB)
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.0.1-cp38-cp38-win_amd64.whl (95 kB)
Collecting certifi>=2017.4.17
  Downloading certifi-2022.12.7-py3-none-any.whl (155 kB)
Collecting MarkupSafe>=2.1.1
  Downloading MarkupSafe-2.1.2-cp38-cp38-win_amd64.whl (16 kB)
Collecting zipp>=0.5
  Downloading zipp-3.15.0-py3-none-any.whl (6.8 kB)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
Collecting pyasn1>=0.1.3
  Using cached pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Installing collected packages: numpy, six, google-pasta, protobuf, libclang, wrapt, setuptools, opt-einsum, flatbuffers, tensorflow-estimator, typing-extensions, packaging, absl-py, h5py, termcolor, wheel, astunparse, keras, zipp, importlib-metadata, markdown, pyasn1, rsa, cachetools, pyasn1-modules, google-auth, urllib3, idna, charset-normalizer, certifi, requests, oauthlib, requests-oauthlib, google-auth-oauthlib, grpcio, tensorboard-data-server, tensorboard-plugin-wit, MarkupSafe, werkzeug, tensorboard, tensorflow-io-gcs-filesystem, gast, tensorflow-intel, tensorflow

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Erişim engellendi: 'C:\\Users\\PCnet\\anaconda3\\Lib\\site-packages\\numpy\\core\\_multiarray_tests.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

ModuleNotFoundError: No module named 'tensorflow'

In [160]:
import pandas as pd 
data = pd.read_csv("train.tsv",sep = "\t")

In [161]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [162]:
data["Sentiment"].replace(0, value = "negatif", inplace = True)
data["Sentiment"].replace(1, value = "negatif", inplace = True)

In [163]:
data["Sentiment"].replace(3, value = "pozitif", inplace = True)
data["Sentiment"].replace(4, value = "pozitif", inplace = True)

In [164]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,negatif
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [165]:
data = data[(data.Sentiment == "negatif") | (data.Sentiment == "pozitif")]  # orta duygu durumunu siniflandirmanin daha keskin olab.adina cikardik

In [166]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,negatif
21,22,1,good for the goose,pozitif
22,23,1,good,pozitif
33,34,1,"the gander , some of which occasionally amuses...",negatif
46,47,1,amuses,pozitif

In [167]:
data.groupby("Sentiment").count()

           PhraseId  SentenceId  Phrase
Sentiment
negatif       34345       34345   34345
pozitif       42133       42133   42133

In [168]:
df = pd.DataFrame()
df["text"] = data["Phrase"]
df["label"] = data["Sentiment"]

In [169]:
df.head()

                                                 text    label
0   A series of escapades demonstrating the adage ...  negatif
21                                 good for the goose  pozitif
22                                               good  pozitif
33  the gander , some of which occasionally amuses...  negatif
46                                             amuses  pozitif

## Metin Ön İşleme

In [170]:
#buyuk-kucuk donusumu
df['text'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#noktalama işaretleri
df['text'] = df['text'].str.replace('[^\w\s]','')
#sayılar
df['text'] = df['text'].str.replace('\d','')
#stopwords
import nltk
#nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
#seyreklerin silinmesi
sil = pd.Series(' '.join(df['text']).split()).value_counts()[-1000:]
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))
#lemmi
from textblob import Word
#nltk.download('wordnet')
df['text'] = df['text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

## Değişken Mühendisliği

* Count Vectors: her bir satir bir yorumu bir dokumani temsil eder, sutunlar da her bir kelimeyi ifade eder, kesişimlerde yer alan ifadeler ise dokumanlarda gecme sıklığını ifade eder
* TF-IDF Vectors (words, characters, n-grams): bir normalleştirme söz konusu
* Word Embeddings: birkaç yıldır revançta, kelime ve dokumanlari yogunluk vektoru olarak gostermenin bir yoludur yani ibr kelimenin vektor uzayindaki pozisyonu metinden ogreniliyor ve bu kelimenin konumu kendini cevreleyen kelimelere bagli old.dan dolayi kelime ve dokumanlar icinde bir yogunluk vektoru olusmus oluyor

TF(t) = (Bir t teriminin bir dökümanda gözlenme frekansı) / (dökümandaki toplam terim sayısı) 

IDF(t) = log_e(Toplam döküman sayısı / içinde t terimi olan belge sayısı)

In [171]:
df.head()

                                                 text    label
0   series demonstrating adage good goose also goo...  negatif
21                                         good goose  pozitif
22                                               good  pozitif
33  gander occasionally amuses none amount much story  negatif
46                                             amuses  pozitif

In [172]:
df.iloc[0]

text     series demonstrating adage good goose also goo...
label                                              negatif
Name: 0, dtype: object

## Test-Train

In [173]:
train_x, test_x, train_y, test_y = model_selection.train_test_split(df["text"],
                                                                   df["label"], 
                                                                    random_state = 1)

In [174]:
train_y[0:5]

118788    pozitif
89514     negatif
86857     pozitif
140626    negatif
153243    pozitif
Name: label, dtype: object

In [175]:
encoder = preprocessing.LabelEncoder()

In [176]:
train_y = encoder.fit_transform(train_y)
test_y = encoder.fit_transform(test_y)

In [177]:
train_y[0:5]

array([1, 0, 1, 0, 1])

In [178]:
test_y[0:5]

array([1, 0, 1, 0, 0])

### Count Vectors

In [179]:
vectorizer = CountVectorizer()
vectorizer.fit(train_x)

CountVectorizer()

In [180]:
x_train_count = vectorizer.transform(train_x)
x_test_count = vectorizer.transform(test_x)

In [181]:
x_train_count.head()

AttributeError: head not found

In [182]:
vectorizer.get_feature_names()[0:5]

['aaliyah', 'abagnale', 'abandon', 'abandoned', 'abbass']

In [183]:
x_train_count.toarray()  # sayilar integer

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

### TF-IDF

In [ ]:
#wordlevel

In [184]:
tf_idf_word_vectorizer = TfidfVectorizer()
tf_idf_word_vectorizer.fit(train_x)

TfidfVectorizer()

In [185]:
x_train_tf_idf_word = tf_idf_word_vectorizer.transform(train_x)
x_test_tf_idf_word = tf_idf_word_vectorizer.transform(test_x)

In [186]:
tf_idf_word_vectorizer.get_feature_names()[0:5]

['aaliyah', 'abagnale', 'abandon', 'abandoned', 'abbass']

In [187]:
x_train_tf_idf_word.toarray()  # sayilar float, goreceli etki

MemoryError: Unable to allocate 5.79 GiB for an array with shape (57358, 13544) and data type float64

In [ ]:
# ngram level tf-idf , kelimelerin 1-1leri ile ifade edilis tarzlarini ifade ediyor

In [188]:
tf_idf_ngram_vectorizer = TfidfVectorizer(ngram_range = (2,3))
tf_idf_ngram_vectorizer.fit(train_x)

TfidfVectorizer(ngram_range=(2, 3))

In [189]:
x_train_tf_idf_ngram = tf_idf_ngram_vectorizer.transform(train_x)
x_test_tf_idf_ngram = tf_idf_ngram_vectorizer.transform(test_x)

In [ ]:
# characters level tf-idf

In [190]:
tf_idf_chars_vectorizer = TfidfVectorizer(analyzer = "char", ngram_range = (2,3))
tf_idf_chars_vectorizer.fit(train_x)

TfidfVectorizer(analyzer='char', ngram_range=(2, 3))

In [191]:
x_train_tf_idf_chars = tf_idf_chars_vectorizer.transform(train_x)
x_test_tf_idf_chars = tf_idf_chars_vectorizer.transform(test_x)

# Makine Öğrenmesi ile Sentiment Sınıflandırması

## Lojistik Regresyon

In [192]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_count, train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

C:\Users\PCnet\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Count Vectors Doğruluk Oranı: 0.8372384937238495

In [193]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

C:\Users\PCnet\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\PCnet\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Word-Level TF-IDF Doğruluk Oranı: 0.8330020920502094

In [194]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

KeyboardInterrupt:

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## Naive Bayes

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## Random Forests

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = rf.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = rf.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = loj.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = loj.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## XGBoost

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

In [ ]:
loj_model

In [ ]:
loj_model.predict("yes i like this film")

In [ ]:
yeni_yorum = pd.Series("this film is very nice and good i like it")

yeni_yorum = pd.Series("no not good look at that shit very bad")

In [ ]:
v = CountVectorizer()
v.fit(train_x)
yeni_yorum = v.transform(yeni_yorum)

In [ ]:
loj_model.predict(yeni_yorum)